
.notification {
    font-weight: bold;
    border: solid 1px rgb(4, 60, 62);
    border-radius: 8px;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 16px;
}

.notification.success {
    background-color: #85eff3;
}

.notification.error {
    background-color: rgb(223, 103, 103);
}