
.notification {
    font-weight: bold;
    border-radius: 8px;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 16px;
}

.notification.success {
    background-color: #459da0;
    border: solid 1px #04696d;
}

.notification.error {
    background-color: rgb(223, 103, 103);
    border: solid 1px rgb(237, 52, 49);
}