
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Wallie, Helvetica;
    margin: 100px auto;
}
h1 {
    font-weight: bold;
}
h2 {
    color: #459da0;
}
#login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}
.loginBox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}
.loginBox input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    outline-color: #13c1ac;
    border-radius: 15px;
}
.submitBtn {
    background-color: #13c1ac;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 105%;
}
.submitBtn:hover {
    background-color: #459da0;
}
