h1{
    text-align: center;
} 

#advertCreation {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}
#advertCreation input,
#advertCreation textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline-color:#13c1ac ;
}
#advertCreation label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.btnCreate {
    border-radius: 15px;
    background-color: #13c1ac;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 110%;
    margin-top: 20px;
}
.btnCreate:hover {
    background-color: #459da0;
}